<div class="container">
  <h2 class="headContain">Register</h2>
  <form class="formContainer" action="">
    <div class="inputContainer">
      <input
        required=""
        type="text"
        name="text"
        autocomplete="off"
        class="input"
      />
      <label class="userLabel">UserName</label>
    </div>
    <div class="inputContainer">
      <input
        required=""
        type="email"
        name="email"
        autocomplete="off"
        class="input"
      />
      <label class="userLabel">Email</label>
    </div>
    <div class="inputContainer">
      <input
        required=""
        type="password"
        name="password"
        autocomplete="off"
        class="input"
      />
      <label class="userLabel">Password</label>
    </div>
    <div class="inputContainer">
      <input
        required=""
        type="password"
        name="confirmPassword"
        autocomplete="off"
        class="input"
      />
      <label class="userLabel">Confirm Password</label>
    </div>
    <input class="submitBtn" type="submit" name="submit" value="submit" id="" />
  </form>
</div>
